@page "/"

<PageTitle>Index</PageTitle>

<h1>  Parcial de Recuperación / Lisbeth Tejada  :)    !</h1>

<h4> Parcial de recuperación / Lab Aplicada I  / Fecha: 23/06/2023 </h4>

<h5> Prof. Enel Almonte   Semestre 2-2023 </h5>

