@page "/"

<PageTitle>Index</PageTitle>

<h1>  Parcial de Recuperación / Lisbeth Tejada  :)    !</h1>

Welcome to your new app.

<SurveyPrompt Title=" Parcial de recuperación / Lab Aplicada I  / Fecha: 23/06/2023 " />
